---
http_interactions:
- request:
    method: get
    uri: http://metrics.theodi.org/metrics/certificated-datasets.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_id":{"$oid":"567d0a406137380003000759"},"name":"certificated-datasets","time":"2015-12-25T09:21:06.000+00:00","value":151439}'
  recorded_at: Mon, 04 Jan 2016 00:00:00 GMT
recorded_with: VCR 3.0.0
