---
http_interactions:
- request:
    method: get
    uri: http://heyre.be/snake/feeds.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"title":"Feed","name":"feeds.csv","id":"feeds","date-field":"Date","type":"latest","source-url":"https://github.com/pikesley/snake-data/blob/master/feeds.csv","special_fields":["Eaten","Food"],"data":[{"Date":"2014-09-28","Food":"Pinky","Offered":"1","Eaten":"1"},{"Date":"2014-10-02","Food":"Pinky","Offered":"2","Eaten":"2"},{"Date":"2014-10-06","Food":"Pinky","Offered":"2","Eaten":"1"},{"Date":"2014-10-12","Food":"Pinky","Offered":"2","Eaten":"0"},{"Date":"2014-10-19","Food":"Pinky","Offered":"2","Eaten":"2"},{"Date":"2014-10-26","Food":"Pinky","Offered":"3","Eaten":"3"},{"Date":"2014-11-02","Food":"Fuzzy","Offered":"1","Eaten":"1"},{"Date":"2014-11-09","Food":"Fuzzy","Offered":"1","Eaten":"1"},{"Date":"2014-11-16","Food":"Fuzzy","Offered":"1","Eat[...]
