---
http_interactions:
- request:
    method: get
    uri: http://metrics.theodi.org/metrics/cumulative-people-trained.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_id":{"$oid":"567e4faf3139660003000708"},"name":"cumulative-people-trained","time":"2015-12-26T08:29:40.000+00:00","value":3200}'
  recorded_at: Tue, 05 Jan 2016 00:00:00 GMT
recorded_with: VCR 3.0.0
