---
http_interactions:
- request:
    method: get
    uri: http://metrics.theodi.org/metrics/github-total-pull-requests
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_id":{"$oid":"54aa73d6ef922c5d10017826"},"name":"github-total-pull-requests","time":"2015-01-05T11:21:58.000+00:00","value":137}'
  recorded_at: Wed, 06 Jan 2016 11:02:24 GMT
recorded_with: VCR 3.0.0
