---
http_interactions:
- request:
    method: get
    uri: http://metrics.theodi.org/metrics/current-year-active-reach.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_id":{"$oid":"52f4ba7def922c6e57000d1a"},"name":"current-year-active-reach","time":"2014-02-07T10:50:36.000+00:00","value":0}'
  recorded_at: Tue, 05 Jan 2016 13:49:49 GMT
- request:
    method: get
    uri: http://metrics.theodi.org/metrics/current-year-active-reach.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_id":{"$oid":"52f4ba7def922c6e57000d1a"},"name":"current-year-active-reach","time":"2014-02-07T10:50:36.000+00:00","value":0}'
  recorded_at: Tue, 05 Jan 2016 13:49:49 GMT
recorded_with: VCR 3.0.0
