---
http_interactions:
- request:
    method: get
    uri: http://heyre.be/snake/length.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"title":"Length","name":"length.csv","id":"length","date-field":"Date","type":"graph","source-url":"https://github.com/pikesley/snake-data/blob/master/length.csv","data":[{"Date":"2014-09-30","Length
        in m":"0.45"},{"Date":"2014-10-09","Length in m":"0.50"},{"Date":"2014-10-18","Length
        in m":"0.50"},{"Date":"2014-12-12","Length in m":"0.55"},{"Date":"2015-01-11","Length
        in m":"0.60"},{"Date":"2015-01-28","Length in m":"0.65"},{"Date":"2015-08-27","Length
        in m":"0.95"}]}'
  recorded_at: Tue, 05 Jan 2016 10:34:49 GMT
- request:
    method: get
    uri: http://heyre.be/snake/length.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"title":"Length","name":"length.csv","id":"length","date-field":"Date","type":"graph","source-url":"https://github.com/pikesley/snake-data/blob/master/length.csv","data":[{"Date":"2014-09-30","Length
        in m":"0.45"},{"Date":"2014-10-09","Length in m":"0.50"},{"Date":"2014-10-18","Length
        in m":"0.50"},{"Date":"2014-12-12","Length in m":"0.55"},{"Date":"2015-01-11","Length
        in m":"0.60"},{"Date":"2015-01-28","Length in m":"0.65"},{"Date":"2015-08-27","Length
        in m":"0.95"}]}'
  recorded_at: Tue, 05 Jan 2016 10:34:49 GMT
recorded_with: VCR 3.0.0
