---
http_interactions:
- request:
    method: get
    uri: http://heyre.be/snake/sheds.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"title":"Shed","name":"sheds.csv","id":"sheds","date-field":"Shed
        completed","type":"latest","source-url":"https://github.com/pikesley/snake-data/blob/master/sheds.csv","data":[{"Serial":"1","Blue
        phase observed":"2014-10-13","Shed completed":"2014-10-17"},{"Serial":"2","Blue
        phase observed":"2014-11-16","Shed completed":"2014-11-22"},{"Serial":"3","Blue
        phase observed":"2014-12-23","Shed completed":"2014-12-31"},{"Serial":"4","Blue
        phase observed":"2015-01-31","Shed completed":"2015-02-05"},{"Serial":"5","Blue
        phase observed":"2015-03-01","Shed completed":"2015-03-06"},{"Serial":"6","Blue
        phase observed":"2015-04-07","Shed completed":"2015-04-12"},{"Serial":"7","Blue
        phase observed":"2015-05-02","Shed completed":"2015-05-07"},{"Serial":"8","Blue
        phase observed":null,"Shed completed":"2015-06-05"},{"Serial":"9","Blue phase
        observed":"2015-07-08","Shed completed":"2015-07-12"},{"Serial":"10","Blue
        phase observed":"2015-08-12","Shed completed":"2015-08-15"},{"Serial":"11","Blue
        phase observed":"2015-09-12","Shed completed":"2015-09-19"},{"Serial":"12","Blue
        phase observed":"2015-11-01","Shed completed":"2015-11-10"},{"Serial":"13","Blue
        phase observed":"2015-12-13","Shed completed":"2015-12-23"}]}'
  recorded_at: Tue, 05 Jan 2016 10:34:48 GMT
[...]
